{% load static %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <h4 class="alert-heading">Atenção!</h4>
        <p>Tem certeza que deseja excluir a compra de {{ compra.quantidade }} unidades de {{ compra.produto.nome }} do fornecedor {{ compra.fornecedor.nome }}?</p>
        <p class="mb-0">Esta ação não pode ser desfeita.</p>
      </div>

      <form method="post" action="{{ request.path }}">
        {% csrf_token %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        </div>
      </form>
    </div>
  </div>
</div>