<!-- compras/detalhes_compra_modal.html -->
<div class="p-3">
  <h5 class="text-primary mb-3">Detalhes da Compra</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Fornecedor:</strong> {{ compra.fornecedor.nome }}</li>
    <li class="list-group-item"><strong>Produto:</strong> {{ compra.produto.nome }}</li>
    <li class="list-group-item"><strong>Quantidade:</strong> {{ compra.quantidade }}</li>
    <li class="list-group-item"><strong>Custo unitário:</strong> R$ {{ compra.custo_unitario }}</li>
    <li class="list-group-item"><strong>Data da compra:</strong> {{ compra.data_compra|date:"d/m/Y H:i" }}</li>
    <li class="list-group-item"><strong>Descrição:</strong> {{ compra.descricao|default:"Não informada" }}</li>
  </ul>
</div>