

<footer id="footer" class="footer dark-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="{% url 'pages' %}" class="logo d-flex align-items-center">
          <span class="sitename">FireFlies</span>
        </a>
        <p>“𝕼𝖚𝖆𝖓𝖉𝖔 𝖛𝖔𝖈𝖊̂ 𝖊𝖘𝖙𝖎𝖛𝖊𝖗 𝖕𝖊𝖗𝖉𝖎𝖉𝖔 𝖓𝖆 𝖊𝖘𝖈𝖚𝖗𝖎𝖉𝖆̃𝖔, 𝖕𝖗𝖔𝖈𝖚𝖗𝖊 𝖆 𝖑𝖚𝖟”</p>
        
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">FireFlies</strong> <span>All Rights Reserved</span></p>
    <div class="credits">
      Designed by <a href="#">Yuri M. Menezes</a>
    </div>
  </div>

</footer>

