{% block content %}
<div class="container">
  <h2>Confirmar Exclusão</h2>

  <div class="alert alert-warning" role="alert">
    <strong>Atenção!</strong> A exclusão é permanente. Tem certeza que deseja excluir <strong>{{ fornecedor.nome }}</strong>?
  </div>

  <form method="post" action="{% url 'fornecedores:excluir_fornecedor' fornecedor.slug %}">
    {% csrf_token %}
    <div class="mt-4 d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
      <button type="submit" class="btn btn-danger" id="btn-excluir-fornecedor">Excluir</button>
    </div>
  </form>
</div>
{% endblock %}