{% extends 'includes/base.html' %}

{% load static %}

{% block title %}Documentação{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main Content -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">
            <img src="{% static 'pages/assets/img/world-dotted-map.png' %}" alt="World Dotted Map" class="hero-bg" data-aos="fade-in">
            
            <div class="container">
                <div class="row gy-4 d-flex justify-content-between">

                    <!-- Search Form -->
                    <form action="{% url 'articles:search' %}" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                        <input type="text" class="form-control" placeholder="Buscar . . " name="search" value="{{ request.GET.search }}">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>

                    <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out"></div>
                </div>
            </div>
        </section>
        <!-- /Hero Section -->

        <!-- Blog Section -->
        <section id="blog-hero" class="blog-hero section">
            <div class="container">
                <div class="blog-grid">
                    <!-- Loop through Articles -->
                    {% for article in articles %}
                    <article class="blog-item" data-aos="fade-up" data-aos-delay="10">
                        <h3 class="post-title">
                            <a href="{% url 'articles:article-details' article.slug %}" title="Read more about {{ article.title }}">{{ article.title }}</a>
                        </h3>

                        <div class="blog-content">
                            <div class="post-meta">
                                <span class="category">Criado por {{ article.created_by }}</span>
                                <span class="date">em {{ article.created_at }}</span>
                            </div>
                        </div>

                        <!-- Article Image -->
                        <div class="post-meta">
                            {% if article.imagem_article %}
                            <a href="{% url 'articles:article-details' article.slug %}">
                                <img src="{{ article.imagem_article.url }}" alt="Image for {{ article.title }}" class="img-fluid" loading="lazy" width="300" height="200">
                            </a>
                            {% endif %}
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- /Blog Section -->

    </div>
</div>
<!-- /Main Content -->

{% endblock content %}
