<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <meta name="description" content="FireFlies - Your reliable source for high-quality articles, blogs, and resources.">
    <meta name="author" content="Yuri">
    
    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="FireFlies">
    <meta property="og:description" content="FireFlies - Your reliable source for high-quality articles, blogs, and resources.">
    <meta property="og:image" content="{{ ASSETS_ROOT }}accounts/assets/images/og-image.jpg">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="FireFlies">
    <meta name="twitter:description" content="FireFlies - Your reliable source for high-quality articles, blogs, and resources.">
    <meta name="twitter:image" content="{{ ASSETS_ROOT }}accounts/assets/images/twitter-image.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <title>FireFlies</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ ASSETS_ROOT }}accounts/assets/images/favicon.ico" type="image/x-icon">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}accounts/assets/fonts/fontawesome/css/fontawesome-all.min.css">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}accounts/assets/plugins/animation/css/animate.min.css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}accounts/assets/css/style.css">

    <!-- Dark Mode CSS -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}accounts/assets/css/dark.css">

    <!-- Preload Key Fonts for Performance -->
    <link rel="preload" href="{{ ASSETS_ROOT }}accounts/assets/fonts/fontawesome/fontawesome-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">

</head>

<body>

    {% block content %}
    <!-- Content will be inserted here -->
    {% endblock content %}

    <!-- Vendor and App JS Files -->
    <script src="{{ ASSETS_ROOT }}accounts/assets/js/vendor-all.min.js" defer></script>
    <script src="{{ ASSETS_ROOT }}accounts/assets/plugins/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="{{ ASSETS_ROOT }}accounts/assets/js/pcoded.min.js" defer></script>
    <script src="{{ ASSETS_ROOT }}accounts/assets/js/dark-mode.js" defer></script>

</body>

</html>
