{% block content %}
<div class="container">
  <h2>Confirmar Exclusão</h2>

  <div class="alert alert-warning" role="alert">
    <strong>Atenção!</strong> A exclusão é permanente. Tem certeza que deseja excluir <strong>{{ accounts.nome }}</strong>?
  </div>

  <form method="post" action="{% url 'accounts:excluir_usuario' object.id %}">
    {% csrf_token %}
    <p>Tem certeza que deseja excluir o usuário <strong>{{ object.email }}</strong>?</p>
    <div class="text-end">
      <button type="submit" class="btn btn-danger" data-exclusao="true">Excluir</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </div>
  </form>
</div>
{% endblock %}
